<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">

<dom-module id="test-iron-pages">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <div class="jumbotron">
     <h1>TEST IRON PAGES</h1>
   </div>
   <input type="text" value="{{componentName::input}}"  placeholder="Select a component"></input>
   <iron-pages selected="[[componentName]]" attr-for-selected="component-name"> <!--IRON-PAGES para mostrar o ocultar componentes-->
     <div component-name="login-usuario"><login-usuario></login-usuario></div>
     <div component-name="visor-usuario"><visor-usuario id="2"></visor-usuario></div>
     <div component-name="visor-cuentas"><visor-cuentas userid="2"></visor-cuentas></div>
   </iron-pages>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class TestIronPages extends Polymer.Element {
     static get is() { return 'test-iron-pages'; }
     static get properties() {
       return {
         componentName : {
           type : String
         }
       };
     }
   }

   window.customElements.define(TestIronPages.is, TestIronPages);
 </script>
</dom-module>
