<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h2 class="col-md-12">Login Usuario</h2>
    </div>
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button class="btn btn-info" on-click="login">login</button>
    <span hidden$="{{!isLogged}}">holaasdf</span>

    <iron-ajax
      id = "doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          }
        };
      }

      login(){
        console.log("El usuario ha pulsado el botón");
        var loginData = {
          "email": this.email,
          "password": this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response.id);
        this.isLogged = true;
        window.location = "/user/" + data.detail.response.id;
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
