<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">

<dom-module id="gestor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <h1>Soy el gestor de eventos</h1>
   <emisor-evento on-myevent="processEvent"></emisor-evento>
   <receptor-evento id="receiver"></receptor-evento>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorEvento extends Polymer.Element {
     static get is() { return 'gestor-evento'; }
     static get properties() {
       return {
       };
     }
     processEvent(e){
       console.log("Se ha procesado el evento myEvent");
       console.log(e);
       this.$.receiver.showData(e.detail); //Esta alternativa no se debería de usar, xq estamos accediendo directamente a un metodo de otro componente.
       this.$.receiver.course = e.detail.course;
       this.$.receiver.year = e.detail.year;
     }
   }

   window.customElements.define(GestorEvento.is, GestorEvento);
 </script>
</dom-module>
